
#body-page {
  width:960px;
  margin: 0 auto;
}

#social-media {
  float:right;
  display:inline-block;
  margin: 0px auto;*/
}

#delicious {
  display: inline;
  float:left;

}

.pizza {
  width: 100%;
}

h3 {
  font-family: ‘Anton’, sans-serif;
  font-size: 10px;
}

h2 {
  font-family: ‘Yellowtail’, cursive;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  margin: 0px auto;

}

h1 {
  font-family: ‘Anton’, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.clear-fix {
  clear: both;
}

.right {
  float: right;
}

.left {
  float:left;
}

#title h2 {
  font-family: ‘Anton’, sans-serif;
  font-size: 10px;
  font-weight: lighter;
}

#title h1 {
  font-size: 25px;
}

form#right {
  width: 40%;
  display:inline-block;
}

form#left {
  width: 40%;
  display:inline-block;
}

li {
  list-style: none;
}

button {
  height: 30px;
  width: 150px;
}

.fork {
  margin: 0 auto;
  display:block;
}

.copyright {
  text-align: center;
}
